aiofiles==25.1.0
aiogram==3.27.0
aiogram-dialog==2.6.0
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
cachetools==5.5.2
certifi==2026.2.25
frozenlist==1.8.0
idna==3.11
Jinja2==3.1.6
magic-filter==1.0.12
MarkupSafe==3.0.3
multidict==6.7.1
ollama-gui==1.2.2
pillow==12.2.0
propcache==0.4.1
pydantic==2.12.5
pydantic-core==2.41.5
redis==7.4.0
typing-extensions==4.15.0
typing-inspection==0.4.2
yarl==1.23.0
psycopg2-binary==2.9.9